# ignore all files without dot
*
!/**/
!*.*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binary dependencies
rbf/rbftest1
rbf/rbftest2
rbf/rbftest3
rbf/rbftest4
rbf/rbftest5
rbf/rbftest6
rbf/rbftest7
rbf/rbftest8
rbf/rbftest8b
rbf/rbftest9
rbf/rbftest10
rbf/rbftest11
rbf/rbftest12
rbf/rbftest10
rbf/rbftest11
rbf/rbftest12
rbf/rbftest_update
rbf/rbftest_delete
rbf/UnitTest
rbf/rbftestReadRecord
rbf/test11
rbf/test11rids
test_delete
rbf/UnitTest2
rbf/unitTest2
unitTest2
rids_file


# ignore all binary dependencies in rm
*.tbl
rm/rmtest_00
rm/rmtest_01
rm/rmtest_02
rm/rmtest_03
rm/rmtest_04
rm/rmtest_05
rm/rmtest_06
rm/rmtest_07
rm/rmtest_08
rm/rmtest_09
rm/rmtest_10
rm/rmtest_11
rm/rmtest_12
rm/rmtest_13
rm/rmtest_14
rm/rmtest_15
rm/rmtest_extra_1
rm/rmtest_extra_2
rm/rmtest_create_tables
rm/rmtest_13b
rm/rmtest_delete_tables
rm/rids_file
rm/san
rm/rmtest_p0
rm/rmtest_p1
rm/rmtest_p2
rm/rmtest_p3
rm/rmtest_p4
rm/rmtest_p5
rm/rmtest_p6
rm/rmtest_p7
rm/rmtest_p8
rm/rmtest_p9
rm/rmtest_pex1
rm/rmtest_pex2

# ignore ix executables
ix/ixtest_01
ix/ixtest_02
ix/ixtest_03
ix/ixtest_04
ix/ixtest_05
ix/ixtest_06
ix/ixtest_07
ix/ixtest_08
ix/ixtest_09
ix/ixtest_10
ix/ixtest_11
ix/ixtest_12
ix/ixtest_13
ix/ixtest_14
ix/ixtest_15
ix/ixtest_extra_01
ix/ixtest_extra_02
ix/ixtest_p1
ix/ixtest_p2
ix/ixtest_p3
ix/ixtest_p4
ix/ixtest_p5
ix/ixtest_p6
ix/ixtest_pe_01
ix/ixtest_pe_02

#ignore files generated by tests
sizes_file
rm/sizes_file


#Ignore all the dot files
.project
.cproject
language.settings.xml
.settings
.clang-format

#Ignore vscode .json config files
*.json

/backup/
